!**/.gitkeep
!**/Utilities/**
!*__example
!.gitignore
!.gitkeep
**/Backup/
**/Debug/
**/Release/
**/elog/
**/gpgkeys/*.gpg
**/packer_cache
*.a
*.asc
*.class
*.dll
*.dsa
*.ed25519
*.elc
*.exe
*.gpg
*.html
*.idb
*.jar
*.log
*.ncb
*.o
*.obj
*.opensdf
*.pdb
*.private
*.pub
*.pyc
*.rsa
*.sdf
*.swp
*.v11.suo
*\#*
*_dsa.pub
*_ed25519.pub
*_rsa.pub
*~
.DS_Store
.directory
.history
.mypy_cache
.secret.d/*/*
.stignore
.swp
.vagrant
.vscode
GPATH
GRTAGS
GTAGS
Pipfile.lock
auto-save-list/*
etc/salt/pki
gmon.out
id_dsa
id_ed25519
id_rsa
mnt/git/gema-plr-personal
mnt/git/gema-plr-sitelocal
mnt/git/gema-sls-personal
mnt/git/gema-sls-sitelocal
mnt/git/gema-sls-sitelocal-vestibule
nohup.out
output-*/
tmp/*
var/*
var/*/*
~$*
