##
##
##



##_META:
##



## <JINJA>
{#- hint: various data shape
"master__gitfs_remotes": {"uri": "", "mountpoint": "", "root": "", "base": ""}
#}
{%- set master__gitfs_remotes = sdb://sdb_gema__config__master__gitfs_remotes %}
{%- set saltformula__master__ext_pillar__git_lst = [] %}
{%- set saltformula__master__rest_tornado = {
        "port": "",
        "ssl_crt": ""
        "ssl_key": ""
        "debug": ""
        "disable_ssl": ""
        }
%}
{# ASSUME: keys are ascii armored text #}
{%- set saltformula__master__gitfs__keys_lst = [
        {"set_label": "global",
          "key": "",
          "pub": ""
        },
        {"set_label": "default",
          "key": "",
          "pub": ""
        }
        ]
%}
{%- set saltformula__master__salt_cloud_certs_lst = [
        ]
%}
{%- set saltformula__cloud__providers_lst = [] %}
{%- set saltformula__cloud__profiles_lst = [] %}
{%- set saltformula__cloud__maps_lst = [] %}
{%- set saltformula__reactor_dct = {} %}
## </JINJA>



#



## EOF
