##
##

## DESC
##  - example: |
##    ---
##    nodegroups:
##      group1: 'L@foo.domain.com,bar.domain.com,baz.domain.com or bl*.domain.com'
##      group2: 'G@os:Debian and foo.domain.com'
##      group3: 'G@os:Debian and N@group1'
##      group4:
##        - 'G@foo:bar'
##        - 'or'
##        - 'G@foo:baz'
##    ...
nodegroups:

  # ROLE
  SALTMASTERS: 'I@by_machine_role:salt-master'

  # PRODUCT
  GRAPH: ''


